- page_title @event.name
- page_subtitle "Vote on papers submitted through the CFP process"

.message.is-primary
  .message-body
    %p
      Welcome! Thanks for helping us curate the responses to our Call for Papers. Simply read the biography and
      abstract for each talk and then rate it 0 &mdash; 5 stars depending on how much you'd like to see that talk.
      At the end, of the page, pop in your email address and hit submit!

    %ul.voting-guide
      %li
        %span.has-text-weight-semibold 0 stars
        &mdash;
        Not suitable
      %li
        %span.has-text-weight-semibold 1 star
        &mdash;
        Vague interest
      %li
        %span.has-text-weight-semibold 2 stars
        &mdash;
        Has some potential
      %li
        %span.has-text-weight-semibold 3 stars
        &mdash;
        Should be quite good
      %li
        %span.has-text-weight-semibold 4 stars
        &mdash;
        A very good match
      %li
        %span.has-text-weight-semibold 5 stars
        &mdash;
        Absolutely unmissable

= form_with model: @voting_slip, url: event_vote_path(@event, @event.voting_token), builder: InlineErrorsFormBuilder do |f|
  - unless f.object.errors.empty?
    .notification.is-danger
      .content
        %p.is-size-5 Sorry, couldn't process your votes:
        %ul
          - f.object.errors.full_messages.each do |error|
            %li= error

  = render @submissions, rating_form: f

  .form-footer
    .field.is-grouped.is-grouped-right
      .control.has-icons-left
        = f.email_field :email_address, class: 'input is-medium', placeholder: 'Enter your email address'
        %span.icon.is-left
          %i.fas.fa-envelope
      .control= f.submit "Submit Your Votes", class: 'button is-primary is-medium'
