.column.is-half
  .box
    %article.media
      - if event.logo
        %figure.media-left
          %p.image.is-64x64= image_tag rails_blob_path(event.logo), alt: "#{event.name} logo"
      .media-content
        %p.is-size-5= link_to event.name, event_submissions_path(event), class: 'has-text-grey-dark'


        %p.is-size-7
          = link_to "Submissions (#{event.submissions.count})", event_submissions_path(event)
          ·
          = link_to "Edit", edit_event_path(event)
          ·
          = link_to "Delete", event_path(event), class: 'has-text-danger', data: { method: "Delete", confirm: "Are you sure you want to delete #{event.name}" }

      .media-right
        %p
          - if event.cfp_open?
            %span.tag.is-dark
              CFP closes
              = distance_of_time_in_words_to_now event.cfp_open_until
          - else
            %span.tag.is-warning
              Voting open
