= form_with model: @event, builder: InlineErrorsFormBuilder do |f|
  .columns
    .column
      .field
        = f.label :name, class: 'label'
        .control= f.text_field :name, class: "input", autofocus: true
        = f.errors_for :name

      .field
        = f.label :website, class: 'label'
        .control= f.text_field :website, class: "input", autofocus: true
        = f.errors_for :website

      .field
        = f.label :available_slots, class: 'label'
        .control= f.number_field :available_slots, class: 'input'
        = f.errors_for :available_slots

      .field
        = f.label :logo, class: 'label'
        .file.has-name
          = f.label :logo, class: 'file-label' do
            = f.file_field :logo, class: 'file-input'
            %span.file-cta
              %span.file-icon
                %i.fas.fa-upload
              %span.file-label Upload a logo...
            %span.file-name= f.object.logo.attached? ? f.object.logo.filename : '...'

    .column
      .field
        = f.label :cfp_open_until, class: 'label'
        .control
          .select= f.date_select :cfp_open_until, {}, class: 'is-inline-block'
        = f.errors_for :cfp_open_until

      .field
        = f.label :date_of_event, class: 'label'
        .control= f.date_select :date_of_event, class: 'input'
        = f.errors_for :date_of_event

  .field
    .control= f.submit class: 'button is-primary'
