- page_title "New Event"
- page_subtitle "Define your upcoming event here"

= form_with model: @event, builder: InlineErrorsFormBuilder do |f|
  .field
    = f.label :name, class: 'label'
    .control= f.text_field :label, class: "input", autofocus: true
    = f.errors_for :name

  .field
    = f.label :cfp_open_until, class: 'label'
    .control= f.date_select :cfp_open_until, class: 'input'
    = f.errors_for :cfp_open_until

  .field
    .control= f.submit class: 'button is-primary'
