.card{id: "submission-#{submission.id}"}
  %header.card-header
    %p.card-header-title= submission.title
  .card-content
    .columns
      .column
        .media
          .media-left
            %span.icon
              %i.fas.fa-user
          .media-content
            .content= simple_format submission.biography
            - if submission.first_time_speaker?
              .tag.is-warning first time speaker

      .column
        .media
          .media-left
            %span.icon
              %i.fas.fa-bullhorn
          .media-content
            .content= simple_format submission.abstract
            .is-size-7.has-text-right
              %progress.progress.is-info{value: submission.talk_length_in_minutes, max: 40}
              = pluralize submission.talk_length_in_minutes, 'minute'

  .card-footer
    .card-footer-item
      - if defined?(rating_form)
        .js-rating.columns.is-vcentered.rating-widget{data: { cache_key: "submission-#{submission.id}" }}
          .column.is-narrow
            = rating_form.hidden_field "submissions[#{submission.id}][vote_weight]", value: '0', class: 'js-rating-field'
            - 5.times do |i|
              .icon.has-text-dark.js-rating-select{data: { rating: i + 1 }}
                %i.far.fa-star.js-rating-indicator

          .column= rating_form.text_area "submissions[#{submission.id}][comment]", class: 'textarea is-small js-rating-comment', rows: 1, placeholder: "Add any comments about this submission..."
          .column.is-narrow= link_to "Clear", "#", class: 'button is-dark is-small js-rating-reset'
      - else
        - if submission.votes.zero?
          No votes yet!
        - else
          Average Rating:
          = submission.average_rating
          (#{pluralize submission.votes, 'vote'} from #{pluralize submission.submission_votes.count, 'person'})
