.card
  %header.card-header
    %p.card-header-title= submission.title
  .card-content
    .columns
      .column
        .media
          .media-left
            %span.icon
              %i.fas.fa-user
          .media-content
            .content= simple_format submission.biography
            - if submission.first_time_speaker?
              .tag.is-warning first time speaker

      .column
        .media
          .media-left
            %span.icon
              %i.fas.fa-bullhorn
          .media-content
            .content= simple_format submission.abstract
            .is-size-7.has-text-right
              %progress.progress.is-info{value: submission.talk_length_in_minutes, max: 40}
              = pluralize submission.talk_length_in_minutes, 'minute'

  .card-footer
    .card-footer-item
      - if submission.votes.zero?
        No votes yet!
      - else
        - submission.votes.times do
          %icon.icon
            %i.fas.fa-star.has-text-warning
    .card-footer-item
      = link_to "Edit", edit_event_submission_path(submission.event, submission)
    .card-footer-item
      = link_to "Delete", event_submission_path(submission.event, submission), class: 'has-text-danger', data: { method: :delete, confirm: "Are you sure you want to delete this submission?" }
