%tr
  %th.position.has-text-right
  %th
    = link_to submission.title, event_submission_path(submission.event, submission)
    .is-inline-block
      .tags
        - if submission.first_time_speaker?
          %span.tag.is-warning first time speaker
        - if submission.submission_votes.with_comments.exists?
          %span.tag.is-info
            %span.icon.is-small
              %i.far.fa-comments
  %td= mail_to submission.email_address
  %td
    - if submission.shortlisted? && submission.shortlist_status.present?
      = shortlist_status_tag(submission.shortlist_status)
  %td= clock_chart_svg submission.talk_length_in_minutes, class: 'is-margin-auto'
  %td.has-text-right
    - if submission.average_rating
      = submission.average_rating.round(1)
  %td
    - if submission.shortlisted?
      = link_to event_submission_shortlist_path(submission.event, submission), title: "Remove from Shortlist", class: 'button is-danger is-small', data: { method: :delete, type: :json, remote: true } do
        %span.icon
          %i.far.fa-thumbs-down
    - else
      = link_to event_submission_shortlist_path(submission.event, submission), title: "Add to Shortlist", class: 'button is-primary is-small', data: { method: :post, type: :json, remote: true } do
        %span.icon
          %i.far.fa-thumbs-up
