- page_title "#{@event.name} Submissions"
- page_subtitle "View, edit and order all of the received submissions for #{@event.name}"
- header_button "upload", new_event_submission_path(@event), "Upload Submissions"

- breadcrumb "My Events", events_path
- breadcrumb "#{@event.name} Submissions"

- if @submissions.exists?
  .message.is-primary
    .message-body
      %p
        %span.has-text-weight-semibold Voting Link:
        = link_to event_vote_url(@event, @event.voting_token), event_vote_url(@event, @event.voting_token)
        &mdash; Share and distribute this link with anyone that you'd like to assist in ranking these submissions.

  .js-submission-table= render 'table', event: @event, submissions: @submissions

- else
  .box.no-data
    %h3.title.has-text-grey No Submissions Yet
    %h3.subtitle.has-text-grey
      Please
      = link_to "upload your submissions", new_event_submission_path(@event)
      to get started
