- page_title "#{@event.name} Submissions"
- page_subtitle "View, edit and order all of the received submissions for #{@event.name}"
- header_button "upload", new_event_submission_path(@event)

- breadcrumb "My Events", events_path
- breadcrumb "#{@event.name} Submissions"

- if @submissions.exists?
  .message.is-primary
    .message-body
      %p
        %span.has-text-weight-semibold Voting Link:
        = link_to event_vote_url(@event, @event.voting_token), event_vote_url(@event, @event.voting_token)
        &mdash; Share and distribute this link with anyone that you'd like to assist in ranking these submissions.

  %table.table.is-striped.is-hoverable
    %thead
      %tr
        %th Title
        %th E-mail
        %th.has-text-right Duration (mins)
        %th.has-text-right Avg. Rating

    %tbody
      - @submissions.each do |submission|
        %tr
          %th
            = link_to submission.title, event_submission_path(@event, submission)
            .is-inline-block
              .tags
                - if submission.first_time_speaker?
                  %span.tag.is-warning first time speaker
                - if submission.submission_votes.with_comments.exists?
                  %span.tag.is-info
                    %span.icon.is-small
                      %i.far.fa-comments
          %td= mail_to submission.email_address
          %td.has-text-right= submission.talk_length_in_minutes
          %td.has-text-right= submission.average_rating.round(1)

- else
  .box.no-data
    %h3.title.has-text-grey No Submissions Yet
    %h3.subtitle.has-text-grey
      Please
      = link_to "upload your submissions", new_event_submission_path(@event)
      to get started
