- page_title @submission.title
- page_subtitle "Showing the full details of this submission"

- breadcrumb "My Events", events_path
- breadcrumb "#{@event.name} Submissions", event_submissions_path(@event)
- breadcrumb @submission.title

= render @submission

- if @submission.submission_votes.exists?
  .comments.box
    - @submission.submission_votes.each do |vote|
      %article.media
        .media-left.comment-rating
          - vote.weight.times do
            .icon.has-text-warning
              %i.fas.fa-star

        .media-content
          - if vote.comment?
            .content
              = simple_format= vote.comment

          %small
            = vote.voter.email_address
            ·
            = vote.created_at.to_s(:short)

.level
  .level-left
    - if @submission.shortlisted?
      .level-item
        = form_with model: @submission, url: event_submission_path(@event, @submission), class: 'js-shortlist-status' do |f|
          .field
            .control
              .select= f.select :shortlist_status, options_for_select(Submission::SHORTLIST_STATUSES), prompt: "Select a shortlist status..."

  .level-right
    .level-item
      - if @submission.shortlisted?
        = link_to event_submission_shortlist_path(@event, @submission), class: 'button is-warning', data: { method: :delete } do
          %span.icon
            %i.far.fa-thumbs-down
          %span Remove from Shortlist
      - else
        = link_to event_submission_shortlist_path(@event, @submission), class: 'button is-primary', data: { method: :post } do
          %span.icon
            %i.far.fa-thumbs-up
          %span Add to Shortlist

    .level-item
      = link_to event_submission_path(@event, @submission), class: 'button is-danger', data: { method: :delete, confirm: "Are you sure you want to delete this submission?" } do
        %span.icon
          %i.fas.fa-trash
        %span Delete
