!!!
%html
  %head
    %title
      = page_title
      &mdash;
      PaperCut
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_tag "", defer: true, src: "https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  %body
    %section
      .navbar
        .container
          .navbar-brand
            = link_to root_path, class: 'navbar-item' do
              %h1
                %span.title.has-text-primary PaperCut
                %span.icon.has-text-primary
                  %i.fas.fa-hand-scissors.fa-lg{data: {"fa-transform" => 'flip-h'}}
                %span.icon.has-text-primary
                  %i.fas.fa-hand-paper.fa-lg

          .navbar-end
            .navbar-item
              .buttons
                - if logged_in?
                  = link_to "My Events", events_path, class: 'button is-primary'
                  = link_to "Logout", logout_path, class: 'button is-light'
                - else
                  = link_to "Login", login_path, class: 'button is-primary'
                  = link_to "Register", register_path, class: 'button is-light'

    %section
      .hero.is-primary.is-bold
        .hero-body
          .container
            %h2.title.is-2= page_title
            - if page_subtitle
              %h3.subtitle.is-4= page_subtitle

    %section
      .container
        = yield
