!!!
%html
  %head
    %title
      = page_title
      &mdash;
      PaperCut
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_tag "", defer: true, src: "https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  %body
    = render 'layouts/navbar', show_brand: true

    .hero.is-primary.is-bold
      .hero-body
        .container
          .level
            .level-left
              .titles
                %h2.title.is-2= page_title
                - if page_subtitle
                  %h3.subtitle.is-4= page_subtitle

            .level-right
              - unless header_buttons.empty?
                .buttons.are-medium
                  - header_buttons.each do |button|
                    = link_to button.title, button.link, class: 'button is-primary is-inverted'

    = yield
