!!!
%html
  %head
    %title PaperCut
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_tag "", defer: true, src: "https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  %body
    %section.hero.is-fullheight.is-primary.is-bold
      .hero-head
        = render 'layouts/navbar'

      .hero-body
        .container
          .columns.is-vcentered
            .column
              %h1
                %span.title.is-1 PaperCut
                %span.icon.is-medium
                  %i.fas.fa-2x.fa-hand-scissors.fa-lg{data: {"fa-transform" => 'flip-h'}}
                %span.icon.is-medium
                  %i.fas.fa-2x.fa-hand-paper.fa-lg
              %h2.subtitle.is-3
                Simple curation for your Call for Papers

            .column= yield
      .hero-foot
        .container
          .content
            %h6.subtitle.is-6
              Built by #{link_to "@darkphnx", "https://twitter.com/darkphnx"}.
              Source code available on #{link_to "GitHub", "https://github.com/darkphnx/papercut"}.
